body {
    background-color: gray;
}

h1 {
    padding: 15px;
    margin: 15px;
}

#real-alert {
    color: black;
    background-color: red;
    padding: 20px;
    margin: 15px;
    border: 5px double black;
}

#test-only {
    color: black;
    background-color: aqua;
    padding: 20px;
    margin: 15px;
    border: 5px double black;
}